.img-gradient{
  filter: brightness(40%);
}
.heading-center{
  padding-bottom: 140px;
}

.color-bg{
  background-color: #289BDE;
}
.color-text{
  color: #289BDE;
}
.color-bg:hover{
  background-color: #289BDE;
}
.border{
  border: 2px solid #289BDE;
}

/* media query extra small device */

@media screen and (max-width: 576px) {
  .carousel-item img{
    height: 320px;
  }
  .heading-center{
    padding-bottom: 20px;
  }
  .carousel-item h1{
    font-size: 20px;
  }
  .remove{
    display: none;
  }
  .carousel-item p{
    font-size: 15px;
  }
  .img-height{
    height: 500px;
  }
  
}

/* media query for small devices */

@media screen and (max-width: 768px) and (min-width: 577px) {
  .carousel-item img{
    height: 320px;
  }
  .heading-center{
    padding-bottom: 30px;
  }
  .carousel-item h1{
    font-size: 20px;
  }
  
  
  
}

/* media query for medium devices */

@media screen and (max-width: 992px) and (min-width: 769px) {
  .carousel-item img{
    height: 380px;
  }
  .heading-center{
    padding-bottom: 30px;
  }
  .carousel-item h1{
    font-size: 25px;
  }
  .institute-heading h1{
    font-size: 25px;
  }

}

/* media query for large devices */
@media screen and (max-width: 1200px) and (min-width: 993px) {
  .heading-center{
    padding-bottom: 60px;
  }
}


  
  
